body {
    margin: 0;
    font-family: arial,sans-serif;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100vh;
}

.logo {
    position:relative;
    max-height: 92px;
}

.logo img {
    height: 92px;
}

.header-container {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    padding: 20px;
    font-size: 12px;
    line-height: 24px;
}

.header-container a {
    text-decoration: none;
    color: #222;
}

.header-container a:hover {
    text-decoration: underline;
}

.card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 230px;
    align-items: center;
    gap: 25px;
    height: 100%;
}

.search {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.search input {
    width: 524px;
    border-radius: 25px;
    border: 1px solid #dfe1e5;
    outline-style: none;
    padding: 13px;
    padding-left: 50px;
    font-size: 1rem;
}

.fa-magnifying-glass {
    margin-right: -40px ;
    z-index: 1;
    color: #dadce0;;
}

#mic {
    height: 22px;
    margin-left: -40px ;
}

.search input:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: all ease-in 200ms;
}

.button-area {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 255px;
}

.button-area button {
    background-color: #f8f9fa;
    padding: 10px;
    border-style: none;
    color: #3c4043;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    font-size: 14px;
}

.button-area button:hover {
    border: 1px solid rgba(161, 150, 150, 0.411);
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}

.credit-area {
    font-size: 0.8rem;
}

.credit-area a {
    text-decoration: none;
    color: #1a0dab;
}

.credit-area a:hover {
    text-decoration: underline;
}

#name-icon img {
    border-radius: 20px;
}

#name-icon img:hover {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 12px;
    cursor: pointer;
}

#nine-dots img{
    height: 30px;
}

#nine-dots img:hover {
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 12px;
}

.footer-area {
    box-sizing: border-box;
    background-color: #f2f2f2;
}

.region {
    padding-left: 30px;
    border-bottom: 1px solid #dadce0;
    font-size: 14px;
    color: #70757a;
}

.link-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    font-size: 14px;
}

.left-links a{
    padding: 15px;
    color: #70757a;
    text-decoration: none;
}

.left-links a:hover{
    text-decoration: underline;
}

.right-links a {
    padding: 15px;
    color: #70757a;
    text-decoration: none;
}

.right-links a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 768px) {
    .search input {
        width: 224px;
    } 

    .logo img {
        height: 72px;
    }

    .link-area {
        display: flex;
        flex-direction: column;
        line-height: 30px;
        align-items: center;
        font-size: 10px;
    }

    .header-container {
        padding-top: 50px;
    }
}